streamlit==1.39.0
python-dotenv==1.0.1

feedparser==6.0.11
requests==2.32.3
beautifulsoup4==4.12.3

pypdf==5.0.1
tiktoken==0.7.0

sentence-transformers==3.0.1
faiss-cpu==1.8.0.post1
numpy==1.26.4

pandas==2.2.2

openai==1.40.8
